<div class="detalle-paciente">
    <div class="header">
      <!--<div class="logo">RX Digital</div>-->
      <img src="assets/icons/RpDigital.png" alt="nombreSistema" />
      <div class="user-info">
        <img src="assets/icons/foto1.png" alt="Foto de usuario" class="user-photo" />
        <span class="user-name">Nombre usuario</span>
      </div>
    </div>
  
    <h2>Detalles del paciente</h2>
    <div class="patient-details">
      <div class="detail-row">
        <label>Nombre completo:</label>
        <span>{{ paciente.lastName }}, {{ paciente.firstName }}</span>
      </div>
      <div class="detail-row">
        <label>DNI:</label>
        <span>{{ paciente.patientId }}</span>
      </div>
      <div class="detail-row">
        <label>Fecha de nacimiento:</label>
        <span>{{ paciente.birthDay | date }}</span>
      </div>
      <div class="detail-row">
        <label>Sexo:</label>
        <span>{{ paciente.gender }}</span>
      </div>
      <div class="detail-row">
        <label>Nacionalidad:</label>
        <span>{{ paciente.nationality }}</span>
      </div>
      <div class="detail-row">
        <label>Domicilio:</label>
        <span>{{ paciente.Address }}</span>
      </div>
      <div class="detail-row">
        <label>Celular:</label>
        <span>{{ paciente.cellphone }}</span>
      </div>
      <div class="detail-row">
        <label>Teléfono fijo:</label>
        <span>{{ paciente.homePhone }}</span>
      </div>
      <div class="detail-row">
        <label>Email:</label>
        <span>{{ paciente.email }}</span>
      </div>
      <div class="detail-row">
        <label>Obra social:</label>
        <span>{{ paciente.socialWorkName }}</span>
      </div>
      <div class="detail-row">
        <label>Estado de habilitación (H/D):</label>
        <span>{{ paciente.IsAvailable ? 'Habilitado' : 'No Habilitado' }}</span>
      </div>
      <div class="detail-row">
        <label>Número de afiliado:</label>
        <span>{{ paciente.socialNumber }}</span>
      </div>
      <div class="detail-row">
        <label>Fecha de inscripción:</label>
        <span>{{ paciente.InscriptionDate | date }}</span>
      </div>
    </div>
    
    <button (click)="volver()">Volver</button>
  </div>
  