<app-encabezado></app-encabezado>

<div class="modificar-paciente">

  <h2>Modificar datos del paciente</h2>
  <form>
    <div>
      <label for="firstName">Nombres:</label>
      <br>
      <input type="text" id="patientId" [(ngModel)]="paciente.nombre" name="nombre" />
    </div>
    <div>
      <label for="lastName">Apellidos:</label>
      <br>
      <input type="text" id="patientId" [(ngModel)]="paciente.apellido" name="apellido"/>
    </div>
    <div>
      <label for="patientId">DNI:</label>
      <br>
      <input type="text" id="patientId" [(ngModel)]="paciente.dni" name="dni"/>
    </div>
    <div>
      <label for="birthDay">Fecha de Nacimiento:</label>
      <br>
      <input type="text" id="patientId" [(ngModel)]="paciente.fechaNacimiento" name="fechaNacimiento"/>
    </div>
    <div>
      <label for="gender">Sexo:</label>
      <br>
      <input type="text" id="patientId" [(ngModel)]="paciente.genero" name="genero"/>
    </div>
    <div>
      <label for="nationality">Nacionalidad:</label>
      <br>
      <input type="text" id="patientId" [(ngModel)]="paciente.nacionalidad" name="nacionalidad"/>
    </div>
    <div>
      <label for="address">Direccion:</label>
      <br>
      <input type="text" id="patientId" [(ngModel)]="paciente.domicilio" name="domicilio"/>
    </div>

    <div>
      <label for="locality">Localidad:</label>
      <br>
      <input type="text" id="patientId" [(ngModel)]="paciente.localidad" name="localidad"/>
    </div>
    <div>
      <label for="province">Provincia:</label>
      <br>
      <input type="text" id="patientId" [(ngModel)]="paciente.provincia" name="provincia"/>
    </div>
    <div>
      <label for="cellphone">Celular:</label>
      <br>
      <input type="text" id="patientId" [(ngModel)]="paciente.celular" name="celular"/>
    </div>

    <div>
      <label for="homePhone">Telefono fijo:</label>
      <br>
      <input type="text" id="patientId" [(ngModel)]="paciente.telefono" name="telefono"/>
    </div>
    <div>
      <label for="email">E-Mail:</label>
      <br>
      <input type="text" id="patientId" [(ngModel)]="paciente.email" name="email"/>
    </div>
    <!-- <div>
      <label for="socialPlan">Obra Social:</label>
      <span>{{ paciente.obraSocial }}</span>
    </div>
    <div>
      <label for="socialWorkName">Plan de obra social:</label>
      <span>{{ paciente.socialWorkName }}</span>
    </div> -->
    <div>
      <label for="socialNumber">Número de afiliado:</label>
      <br>
      <input type="text" id="patientId" [(ngModel)]="paciente.numeroAfiliado" name="numeroAfiliado"/>
    </div>
    <div>
      <label for="isAvailable">Estado de habilitacion:</label>
      <br>
      <!-- <input>{{ paciente.estado ? 'Sí' : 'No' }}>
      <input type="text" id="patientId" [(ngModel)]="paciente.apellido" /> -->
    </div>
    <div>
      <label for="inscriptionDate">Fecha de Inscripción:</label>
      <br>
      <span>{{ paciente.fechaInscripcion | date: 'mediumDate' }}</span>
    </div>
    
  
    <div class="botones">
      
      <button type="submit" class="modificar" (click)="guardar()">Aceptar</button>
      <button type="button" class="cancelar" (click)="volver()">Cancelar</button>
    </div>
 </form>
</div>