<app-encabezado></app-encabezado>

<div class="modificar-paciente">

  <h2>MODIFICAR DATOS DEL PACIENTE</h2>
  <form [formGroup]="pacienteForm" (ngSubmit)="guardar()">
    <div class="formulario">
      <div class="campo">
        <label for="nombres">Nombres: *</label>
        <input id="nombres" type="text" formControlName="nombre" name="nombre" />
      </div>
      <div class="campo">
        <label for="apellidos">Apellidos: *</label>
        <input id="apellidos" type="text" formControlName="apellido" name="apellido" />
      </div>
      <div class="campo">
        <label for="patientId">DNI: *</label>
        
        <span>{{ paciente?.dni }}</span>
      </div>
      <div class="campo">
        <label for="fechaNacimiento">Fecha de nacimiento: *</label>
        <input id="fechaNacimiento" type="date" formControlName="fechaNacimiento" name="fechaNacimiento" required />

      </div>
      <div class="campo">
        <label for="genero">Sexo: *</label>
        <select id="genero" formControlName="genero" required>
          <option value="M">Masculino</option>
          <option value="F">Femenino</option>
        </select>
      </div>
      <div class="campo">
        <label for="nacionalidad">Nacionalidad: *</label>
        <input id="nacionalidad" type="text" formControlName="nacionalidad" name="nacionalidad" />
      </div>
      <div class="campo">
        <label for="domicilio">Domicilio: *</label>
        <input id="domicilio" type="text" formControlName="domicilio" name="domicilio" />
      </div>

      <div class="campo">
        <label for="localidad">Localidad: *</label>
        <input id="localidad" type="text" formControlName="localidad" name="localidad" />
      </div>
      <div class="campo">
        <label for="provincia">Provincia: *</label>
        <input id="provincia" type="text" formControlName="provincia" name="provincia" />
      </div>
      <div class="campo">
        <label for="celular">Celular: *</label>
        <input id="celular" type="tel" formControlName="celular" name="celular" />
      </div>

      <div class="campo">
        <label for="telefono">Teléfono fijo: </label>
        <input id="telefono" type="tel" formControlName="telefono" name="telefono" />
      </div>
      <div class="campo">
        <label for="email">E-Mail: *</label>
        <input id="email" type="text" formControlName="email" name="email" />
      </div>
      <div class="campo">
      <label for="socialPlan">Obra Social:</label>
      <span>{{ paciente?.obraSocial }}</span>
    </div>
    <div class="campo">
      <label for="socialWorkName">Plan de obra social:</label>
      <span>{{ paciente?.planSocial }}</span>
    </div>
      <div class="campo">
        <label for="numeroAfiliado">Número de afiliado: *</label>
        <input id="numeroAfiliado" type="text"  formControlName="numeroAfiliado" name="numeroAfiliado" />
      </div>
      <div class="campo">
        <label for="isAvailable">Estado de habilitación: *</label>
        <select id="genero" formControlName="habilitado" required>
          <option value="false">Deshabilitado</option>
          <option value="true">Habilitado</option>
        </select>
      </div>
      <div class="campo">
        <label for="inscriptionDate">Fecha de inscripción:</label>
        <span>{{ paciente?.fechaInscripcion | date: 'mediumDate' }}</span>
      </div>

      <div class="botones">

        <button type="submit" class="modificar">Aceptar</button>
        <button type="button" class="cancelar" (click)="volver()">Cancelar</button>
      </div>
    </div>
  </form>
</div>