.container {
  width: 100%;
  
  box-sizing: border-box;
}



.main-content {
  margin-top: 20px;
  padding: 20px;

  .patient-info {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin: 0;
    }

    .patient-actions {
      button {
        margin-left: 10px;
        cursor: pointer;
        font-size: 22px;
      }
      text-align: center;
      
    }
  }

  .prescription-history {
    h2 {
      margin-bottom: 10px;
      font-size: 27px;
    }

    .search-bar {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      input {
        padding: 5px;
        font-size: 1em;
        flex: 1;
        margin-right: 10px;
      }

      button {
        padding: 10px;
        cursor: pointer;
        background-color: #ccc;
        border: 5x;
        border-radius: 5px;
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;
      th,
      
      td {
        padding: 10px;
        border: 1px solid #ccc;
        font-size: 20px;
      }

      th {
        background-color: #f1f1f1;
        
        
        
      }

      td {
        text-align: center;
      }

      .receta-actions {

        button {
          margin-left: 10px;
          cursor: pointer;

          
        }
      }
    }

    .generate-recipe {
      display: block;
      margin: 20px auto;
      padding: 12px 25px;
      background-color: #4CAF50;
      border: 2px solid #388E3C;
      color: #fff;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 20px;
      transition: background-color 0.3s, box-shadow 0.3s;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
      &:hover {
        background-color: #4CAF50;
      }

    }
    
    
  }
  
}

.datos-paciente {
  background-color: #77E7CD;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 500px;
  font-size: 22px;

  h3 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: black solid underline;
  }

  .campo {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    label {
      font-weight: bold;
      margin-right: 10px;
    }

    span {
      font-size: 18px;
    }
  }
}

.btn-edit {
  background-color: #ffc107;
}

.btn-delete {
  background-color: #dc3545;
  color: #fff;
}

.btn-view-details {
  background-color: #f39c12;
  /* Amarillo */
}

.btn-clone {
  background-color: #56ee10;
}