<div class="container">
  <app-encabezado></app-encabezado>

  <main class="main-content">
    <section class="patient-info">
      <div class="datos-paciente">
        <h3>DATOS DEL PACIENTE</h3>
        <div class="campo">
          <label for="nombre">Apellido y nombre:</label>
          <span>{{ paciente?.apellido }}, {{ paciente?.nombre }} </span>
        </div>
        <div class="campo">
          <label for="dni">DNI:</label>
          <span>{{ paciente?.dni }}</span>
        </div>
        <div class="patient-actions">
          <button class="btn-view-details" (click)="verDetallePaciente()" title="Ver detalle del paciente">📄</button>
          <button class="btn-edit" (click)="modificarPaciente()" title="Modificar paciente">✏️</button>
          <button class="btn-delete" (click)="eliminarPaciente()" title="Habilitar/Deshabilitar paciente">🗑️</button>
        </div>
      </div>
    </section>

    <section class="prescription-history">
      <h2>Historial de recetas</h2>
      <div class="search-bar">
        <input type="text" placeholder="Ingrese código de receta" [(ngModel)]="codeFilter" (input)="filterCodes()">
      </div>

      <table>
        <thead>
          <tr>
            <th>Código receta</th>
            <th>Fecha emisión</th>
            <th>Fecha de vencimiento</th>
            <th>Diagnóstico</th>
            <th>Comentario</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let receta of recetasFiltradas">
            <td>{{ receta.codigoReceta }}</td>
            <td>{{ receta.fechaEmision | date }}</td>
            <td>{{ receta.expirationDate | date }}</td>
            <td>{{ receta.diagnostic }}</td>
            <td>{{ receta.comentario }}</td>
            <td>{{ receta.estado }}</td>
            <td>
              <div class = 'receta-actions'>
                <button *ngIf="receta.estado === 'Emitida'" class="btn-edit" (click)="modificarReceta(receta.codigoReceta)">✏️</button>
                <button *ngIf="receta.estado === 'Emitida'" class="btn-delete" (click)="eliminarReceta(receta.codigoReceta)">🗑️</button>
                <button class="btn-view-details" (click)="verDetalleReceta(receta.codigoReceta)">📄</button> 
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <button class="generate-recipe" (click)="generarReceta()">Generar receta</button>
    </section>
  </main>
</div>