<div class="modal-overlay" *ngIf="showConfirmation">
    <div class="modal-content">
      <h2>Mensaje</h2>
      <p>¿Está seguro de que quiere eliminar esta receta?</p>
      <div class="modal-actions">
        <button (click)="confirmCancel()" class="btn-confirm">Sí, seguro</button>
        <button (click)="closeModal()" class="btn-cancel">No, cancelar</button>
      </div>
    </div>
  </div>
  
    <!-- Aquí usamos el selector del componente EmitirRecetaComponent -->
    <div class="ver-recetas-paciente-difuminada">
      <app-ver-recetas-paciente></app-ver-recetas-paciente>
    </div>