<app-encabezado></app-encabezado>


<div class="contenido">
    <h2>MÉDICOS CON MÁS RECETAS</h2>

    <div class="subtitulo-tabla">
        <div class="formulario">
            <label for="numResultados">Ingrese número de resultados:</label>
            <input id="numResultados" type="text" [(ngModel)]="numResultados" placeholder="n°" />
            <button (click)="getmedicosFiltrados()">Buscar</button>
            <div>
                <p *ngIf="searchError" style="color: red;">{{ searchError }}</p>
            </div>
        </div>

        <table id="myTable" *ngIf="medsList.length > 0" class="tabla-medicos">
            <thead>
                <tr>
                    <th>Número de matrícula</th>
                    <th>Nombre médico</th>
                    <th>Cantidad de recetas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medico of medsList">
                    <td>{{ medico.matricula }}</td>
                    <td>{{ medico.nombreMedico }}</td>
                    <td>{{ medico.cantidadReceta }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer class="footer">
        <button *ngIf="medsList.length > 0" class="boton-exportar" (click)="exportar()">Exportar</button>
        <button class="back-button" (click)="volver()">Volver al panel de consulta</button>
    </footer>

</div>