<div class="header">
    <img src="assets/icons/RpDigital.png">
    <div class="user-info">
        <img src="assets/icons/foto1.png" alt="Foto de usuario" class="user-photo" />
        <span class="user-name">Nombre usuario</span>
    </div>
</div>
<div class="detalle-receta">
    <h2>Detalles de la receta</h2>
    <h2>Receta: {{codigoReceta}}</h2>

    <div class="fecha">
        <label>Fecha de emisión:</label>
        <span>{{ fechaEmision }}</span>
    </div>
    <div class="fecha">
        <label>Fecha de expiración:</label>
        <span>{{ fechaExpiracion }}</span>
    </div>

    <div class="receta-details">
        <h2>Datos del Médico</h2>
        <div class="detail-row">
            <label>Nombre completo:</label>
            <span>{{ medicoNombre }}</span>
        </div>
        <div class="detail-row">
            <label>Especialidad:</label>
            <span>{{ medicoEspecialidad }}</span>
        </div>
        <div class="detail-row">
            <label>Matricula:</label>
            <span>{{medicoMatricula}}</span>
        </div>
    </div>

    <div class="receta-details">
        <h2>Datos del Paciente</h2>
        <div class="detail-row">
            <label>Nombre completo:</label>
            <span>{{ pacienteNombre }}</span>
        </div>
        <div class="detail-row">
            <label>DNI:</label>
            <span>{{ pacienteDNI }}</span>
        </div>
        <div class="detail-row">
            <label>Obra Social:</label>
            <span>{{pacienteObraSocial}}</span>
        </div>
    </div>

    <div class="receta-details">
        <h2>Información</h2>
        <div class="detail-row">
            <label>Diagnóstico:</label>
            <span>{{ informacionDiagnostico }}</span>
        </div>
        <div class="detail-row">
            <label>Comentarios:</label>
            <span>Aca va info de consejos</span>
        </div>
    </div>

    <div class="receta-details">
        <h2>Datos del Medicamento</h2>
        <div class="detail-row">
            <label>Nombre comercial:</label>
            <span>{{ medicamentoNombreComercial }}</span>
        </div>
        <div class="detail-row">
            <label>Presentación:</label>
            <span>{{ medicamentoPresentacion }}</span>
        </div>
        <div class="detail-row">
            <label>Concentración:</label>
            <span>{{medicamentoConcentracion}}</span>
        </div>
    </div>

    <div class="enviar-por">
        <label>Enviar por:</label>
        <span>{{viaComunicacion}}</span>
    </div>

    <button (click)="volver()">Volver</button>
</div>