.contenedor {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fecha, .enviar-por {
    display: flex;
    width: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;

    label {
        width: 45%;
        padding: 5px;
        margin-bottom: 5px;
        height: 20px;
    }

    input {
        width: 45%;
        padding: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
        background-color: #F0E9E9;
        height: 20px;
    }
}

.cuadro {
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 90%;

    .seccion {
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        border-radius: 10px;
        margin-inline: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #f2f2f2;
        justify-content: center;
        align-items: center;

        h2 {
            width: 100%;
            background-color: #ccc;
            padding: 5px;
            border-radius: 10px;
            text-align: center;
            height: 30px;
        }

        label {
            width: 30%;
            //padding: 5px;
            margin-bottom: 5px;
            text-align: start;
            height: 20px;
        }

        input {
            width: 60%;
            //padding: 5px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            background-color: #F0E9E9;
            height: 20px;
        }
    }

    button {
        padding: 10px 20px;
        background-color: #77E7CD;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #66c7b0;
        }
    }
}