<app-encabezado></app-encabezado>

<div class="gestionar-usuarios">
    <h1 class="titulo">GESTIÓN DE USUARIOS PENDIENTES</h1>
    <h2 *ngIf="usuariosPendientes.length == 0">No tienes usuarios pendientes de revision!</h2>
  
    <table *ngIf="usuariosPendientes.length > 0" class="tabla-usuarios">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>DNI</th>
          <th>Rol</th>
          <th>E-Mail</th>
          <th>Matrícula</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuariosPendientes">
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.apellido }}</td>
          <td>{{ usuario.dni }}</td>
          <td>
            {{ usuario.roleId === 1 ? 'Administrador' : 
               usuario.roleId === 2 ? 'Médico' : 
               usuario.roleId === 3 ? 'Farmacéutico' : 'Rol desconocido' }}
          </td>          
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.roleId !== 1 ? usuario.matricula : 'N/A' }}</td>
          <td>
            <button (click)="revisarUsuario(usuario.id, true)">Aprobar</button>
            <button (click)="revisarUsuario(usuario.id, false)">Rechazar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="footer">
      <button class="back-button" (click)="volver()">Volver al panel de gestión</button>
    </div>
    <div *ngIf="loading" class="spinner-overlay">
      <div class="spinner"></div>
    </div>    
  </div>
  