<div class="detalle-receta">

    <!-- Datos del Paciente -->
    <h2>Datos del Paciente</h2>
    <div class="section">
      <p><strong>Nombre:</strong> {{ paciente.nombre }}</p>
      <p><strong>DNI:</strong> {{ paciente.dni }}</p>
      <p><strong>Obra Social:</strong> {{ paciente.obraSocial }}</p>
    </div>
  
    <!-- Datos del Médico -->
    <h2>Datos del Médico</h2>
    <div class="section">
      <p><strong>Nombre:</strong> {{ medico.nombre }}</p>
      <p><strong>Especialidad:</strong> {{ medico.especialidad }}</p>
      <p><strong>Matrícula:</strong> {{ medico.matricula }}</p>
    </div>
  
    <!-- Datos de la Receta -->
    <h2>Información</h2>
    <div class="section">
      <p><strong>Diagnóstico:</strong> {{ receta.diagnostico }}</p>
      <p><strong>Comentarios/Consejos:</strong> {{ receta.comentarios }}</p>
    </div>
  
    <!-- Datos del Medicamento -->
    <h2>Datos del Medicamento</h2>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Presentación</th>
          <th>Concentración</th>
          <th>Cantidad</th>
          <th>Indicaciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medicamento of receta.medicamentos">
          <td>{{ medicamento.nombre }}</td>
          <td>{{ medicamento.presentacion }}</td>
          <td>{{ medicamento.concentracion }}</td>
          <td>{{ medicamento.cantidad }}</td>
          <td>{{ medicamento.indicaciones }}</td>
        </tr>
      </tbody>
    </table>
  
    <!-- Forma de Envío -->
    <h2>Forma de Envío</h2>
    <div class="section">
      <p><strong>Envío:</strong> {{ receta.formaEnvio }}</p>
    </div>
  
    <button (click)="volver()">Volver</button>

  </div>
  