.header {
    display: flex;
    justify-content: space-between;

    .user-info {
        display: flex;
        align-items: center;

        .user-photo {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .user-name {
            font-size: 16px;
        }
    }
}

.detalle-receta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    .fecha,
    .enviar-por {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: #e0e0e0;
        border-radius: 5px;
        width: 30%;
        margin-bottom: 10px;
        align-items: center;

        label {
            font-weight: bold;
        }
    }

    

    .receta-details {
        display: flex;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        padding: 20px;
        flex-direction: column;
        width: 60%;

        h2 {
            text-align: center;
            margin-bottom: 0;
        }

        .detail-row {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            background-color: #e0e0e0;
            border-radius: 5px;

            label {
                font-weight: bold;
            }
        }
    }

    button {
        position: fixed; // Cambiar a posición fija
        bottom: 30px; // Distancia desde el borde inferior
        right: 30px; // Distancia desde el borde derecho
        display: block;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: #0056b3;
        }
    }

}
