.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    
  
    .user-info {
      display: flex;
      align-items: center;
  
      .user-photo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
      }
  
      .caja-usuario{
        display: flex;
        flex-direction: column;

        .user-name {
          font-size: 30px;
          margin-right: 50px;
        }
  
        .cerrar-sesion{
          font-size: 18px !important;
          margin-right: 50px;
          font-weight: bold;
          color: #ec1818;
          text-align: end; 
        }
      }
    }
  }

  a{
    text-decoration: none;
    cursor:pointer; 
  }