.main {
    height: 825px;
    display: flex;
}

.right {
    display: flex;
    flex: 1;
    height: 100vh;
    width: 50%;
    text-align: center;  
}

.left {
    background-color: #77E7CD;
    display: flex;
    flex: 1;
    height: 100vh;
    width: 50%;
    overflow: hidden;
    
    flex-direction: column;
}

.description {
    font-family: Kanit;
    font-size: 36px;
    font-weight: 400;
    line-height: 53.82px;
    text-align: center;    
    width: 50%;
    margin: auto;
}

.title {
    font-family: Kameron;
    font-size: 100px;
    font-weight: 400;
    line-height: 118.7px;
    text-align: left;
    width: 50%;
    margin: auto;
}

.logo {
    width: 205.79px;
    height: 268.2px;
    top: 157px;
    left: 44px;
    gap: 0px;
    opacity: 0px;
    margin: auto;
}

.logo-title {
    margin-left: 44px;
    margin-top: 157px;
    display: flex;
}
.bienvenida{
    font-family: Inria Sans;
    font-size: 50px;
    font-weight: 400;
    line-height: 53.82px;
    text-align: center;    
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 70px;

    
}


.registrate{

    color: #20CAA2;
    font-weight: bold;

}
.boton{

 font-family: Inclusive Sans;
 font-size: 27px;
 border-radius: 30px;
 background-color: #77E7CD;
margin-top: 30px;
margin-bottom: 20px;
padding: 10px 20px 10px 20px;

}


.debajoBoton{

    font-size: 30px;
    font-family: Inclusive Sans;
}
form{

    padding: 20px;
   
    font-family: Inclusive Sans;
    font-size: 30px;
    font-weight: bolder;
    line-height: 53.82px;
    text-align: center;    
    
    
}
a{
    text-decoration: none;
    cursor:pointer;
    
    
}


