<div class="main">
    <div class="left">
        <div class="logo-title">
            <img src="assets/icons/logoReceta.png" alt="LogoReceta" class="logo">
            <h1 class="title"> RP DIGITAL</h1>
        </div>
        <p class="description">PRESCRIPCIONES MÉDICAS DIGITALES</p>
    </div>
    <div class="right">
        <div class="login"><br>
            <h1 class="bienvenida">BIENVENIDO/A A NUESTRO SISTEMA DE RECETAS DIGITALES</h1>
            <div>
                <form #formRef="ngForm">
                    <div class="form-group" style="width: 300px; margin: 0 auto;">
                        <label style="display: block; text-align: left; margin-bottom: 5px; height: 40px;">E-mail</label>
                        <input style="width: 100%; height: 25px;" type="email" name="email" [(ngModel)]="email" required>
                        
                        <label style="display: block; text-align: left; margin: 15px 0 5px;height: 40px">Contraseña</label>
                        <input style="width: 100%; height: 25px;" type="password" name="contraseña" [(ngModel)]="password" required>
                    </div>
                    <button class="boton"(click)="login()">Iniciar Sesión</button>
                    <div>
                        <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
                    </div>
                </form>    
                <p class="debajoBoton"><a (click)="recuperarCuenta()" style="color:black">¿Olvidaste tu contraseña?</a></p>
                <p class="debajoBoton">¿No tienes una cuenta? 
                    <span class="registrate">
                    <a (click)="register()" style="color: #20CAA2" >Registrate</a>
                    </span>
                </p>              
            </div>
        </div>
    </div>
</div>