<app-encabezado></app-encabezado>


<div class="medicamentos-container">
    <h2>MEDICAMENTOS MÁS RECETADOS</h2>

    <div class="subtitulo-tabla">
        <div class="formulario">
            <label for="numResultados">Ingrese número de resultados:</label>
            <input id="numResultados" type="text" [(ngModel)]="numResultados" placeholder="n°" />
            <button (click)="getmedicamentosFiltrados()">Buscar</button>
            <div>
                <p *ngIf="searchError" style="color: red;">{{ searchError }}</p>
            </div>
        </div>

        <table *ngIf="medsList.length > 0" class="tabla-medicos">
            <thead>
                <tr>
                    <th>Nombre comercial</th>
                    <th>Presentación</th>
                    <th>Concentración</th>
                    <th>Total recetados</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medicamento of medsList">
                    <td>{{ medicamento.nombreComercial }}</td>
                    <td>{{ medicamento.presentacion }}</td>
                    <td>{{ medicamento.concentracion }}</td>
                    <td>{{ medicamento.totalRecetado }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer class="footer">
        <button *ngIf="medsList.length > 0" class="boton-exportar" (click)="exportar()">Exportar</button>
        <button class="back-button" (click)="volver()">Volver al panel de consulta</button>
    </footer>

</div>