<app-encabezado></app-encabezado>

<div class="ver-detalle-paciente">

  <h2>DETALLES DE LOS DATOS DEL PACIENTE</h2>
  <form>
    <div class="formulario">
      <div class="campo">
        <label for="firstName">Nombres:</label>
        <br>
        <span><strong>{{ paciente.nombre }}</strong></span>
      </div>
      <div class="campo">
        <label for="lastName">Apellidos:</label>
        <span>{{ paciente.apellido }}</span>
      </div>
      <div class="campo">
        <label for="patientId">DNI:</label>
        <br>
        <span>{{ paciente.dni }}</span>
      </div>
      <div class="campo">
        <label for="birthDay">Fecha de nacimiento:</label>
        <br>
        <span>{{ paciente.fechaNacimiento | date: 'mediumDate' }}</span>
      </div>
      <div class="campo">
        <label for="gender">Sexo:</label>
        <br>
        <span>{{ paciente.genero == 'M' ? 'Masculino' : 'Femenino' }}</span>
      </div>
      <div class="campo">
        <label for="nationality">Nacionalidad:</label>
        <br>
        <span>{{ paciente.nacionalidad}}</span>
      </div>
      <div class="campo">
        <label for="address">Domicilio:</label>
        <br>
        <span>{{ paciente.domicilio}}</span>
      </div>

      <div class="campo">
        <label for="locality">Localidad:</label>
        <br>
        <span>{{ paciente.localidad}}</span>
      </div>
      <div class="campo">
        <label for="province">Provincia:</label>
        <br>
        <span>{{ paciente.provincia}}</span>
      </div>
      <div class="campo">
        <label for="cellphone">Celular:</label>
        <br>
        <span>{{ paciente.celular}}</span>
      </div>

      <div class="campo">
        <label for="homePhone">Teléfono fijo:</label>
        <br>
        <span>{{ paciente.telefono}}</span>
      </div>
      <div class="campo">
        <label for="email">E-Mail:</label>
        <br>
        <span>{{ paciente.email}}</span>
      </div>
      <div class="campo">
        <label for="socialPlan">Obra Social:</label>
        <span>{{ paciente.obraSocial }}</span>
      </div>
      <div class="campo">
        <label for="socialWorkName">Plan de obra social:</label>
        <span>{{ paciente.planSocial }}</span>
      </div>
      <div class="campo">
        <label for="socialNumber">Número de afiliado:</label>
        <br>
        <span>{{ paciente.numeroAfiliado }}</span>
      </div>
      <div class="campo">
        <label for="isAvailable">Estado de habilitación:</label>
        <br>
        <span>{{ paciente.habilitacion ? 'Sí' : 'No' }}</span>
      </div>
      <div class="campo">
        <label for="inscriptionDate">Fecha de inscripción:</label>
        <br>
        <span>{{ paciente.fechaInscripcion | date: 'mediumDate' }}</span>
      </div>


      <div class="botones">
        <button type="button" (click)="volver()">Volver</button>
      </div>
    </div>
  </form>
</div>