<div class="modal">
  <h2>Búsqueda</h2>
  <input type="text" [(ngModel)]="searchQuery" placeholder="Buscar..." />
  <button class="buscar" (click)="searchMedicines()">Buscar</button>

  <table *ngIf="searchQuery">
    <tr>
      <th>Nombre comercial</th>
      <th>Presentación</th>
      <th>Concentración</th>
    </tr>
    <tr *ngFor="let med of listaMedicamentos" (click)="selectItem(med)">
      <td>{{ med.nombreComercial }}</td>
      <td>{{ med.presentacion }}</td>
      <td>{{ med.concentracion }}</td>
    </tr>
  </table>

  <div class="cerrar">
  <button (click)="close()">Cerrar</button>
</div>
</div>
