.volver-container {
    text-align: left;
    padding: 10px 220px;
    margin-bottom: 10px; // Espacio adicional debajo del botón para separarlo
    display: flex;
    //justify-content: length;
    gap: 10px;
  
    .volver-btn {
      padding: 12px 25px;
      font-size: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      border: 1px solid #888;
    }
}

.exportar-container {
    background-color: #f0f0f0;
    padding: 20px;
    max-width: 800px; // Increase width
    min-height: 10px; // Set a minimum height
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 15px; // Increase font size for all text within the container

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #333;
        color: #fff;
        padding: 10px 20px;

        h1 {
            margin: 0;
            font-size: 10px;
        }
    }


    .export-box {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 50px 50px;
        margin-top: 20px;

        h2 {
            font-size: 35px;
            padding: 1px;
            margin-bottom: 10px;
        }

        .form-group {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;

            label {

                margin-right: 10px;
                font-weight: bold;
                margin-bottom: 4px;
                font-size: 16px;
                color: #555;
            }

            select {
                padding: 5px;
                font-size: 14px;
                width: 200px; // Ancho del cuadro de selección
                height: 30px; // Altura del cuadro de selección
                border: 1px solid #ccc;
                border-radius: 4px;
                background-color: #fff;
            }
        }

        .buttons {
            display: flex;
            justify-content: center;
            gap: 20px;

            .accept-btn {
                background-color: green;
                color: #fff;
                padding: 12px 25px;
                font-size: 10px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }

            .cancel-btn {
                background-color: #dc3545;
                padding: 12px 25px;
                font-size: 10px;
                border: 1px solid #888;
                border-radius: 5px;
                cursor: pointer;
                color: #fff;
            }
        }
    }
}