<app-encabezado></app-encabezado>

<div class="agregar-medicamento">
  <h2>DATOS DEL NUEVO MEDICAMENTO</h2>
 
   <form [formGroup]="medicamentoForm" (ngSubmit)="onSubmit()">
    <div class="formulario">
      <div class="campo">
        <label for="nombre">Nombre comercial: *</label>
        <input id="nombre" type="text" formControlName="nombreComercial" required>
      </div>
      <div class="campo">
        <label for="presentacion">Presentación: *</label>
        <input id="presentacion" type="text" formControlName="presentacion" required>
      </div>
      <div class="campo">
        <label for="concentracion">Concentración: *</label>
        <input id="concentracion" type="text" formControlName="concentracion" required>
      </div>
      <div class="campo">
        <label for="concentracion">Descripcion: *</label>
        <input id="concentracion" type="text" formControlName="descripcion" required>
      </div>
    </div>

    <div class="botones">
      <button type="submit" class="aceptar" [disabled]="medicamentoForm.invalid">Aceptar</button>
      <button type="button" class="cancelar" (click)="onCancel()">Cancelar</button>
    </div>
  </form> 
</div> 