<div class="buscar-paciente-container">
    <div class="header">
      <img src="assets/icons/RpDigital.png" alt="Icono" class="RpDigital">
    </div>
    <div class="Bienvenida">
      <h1 style=" font-size: 60px;">BIENVENIDO/A</h1>
    </div>
    <div class="search-container">
      <input style="font-size: 25px; width: 500px;" type="text" placeholder="Ingrese DNI del paciente" [(ngModel)]="dniPaciente">
      <button (click)="buscarPaciente()">🔍</button>
    </div>
    <button class="agregar-btn" (click)="agregarPaciente()">Agregar paciente nuevo</button>
</div>
  
