<app-encabezado></app-encabezado>
<div class="buscar-paciente-container">
  
  <div class="Bienvenida">
    <h2>BIENVENIDO/A</h2>
  </div>
  <div class="search-container">
    <input style="font-size: 25px; width: 500px;" type="text" placeholder="Ingrese DNI del paciente"
      [(ngModel)]="dniPaciente">
    <button style="margin-left: 25px; margin-top: 5px;" (click)="buscarPaciente()">🔍</button>
  </div>
  <div>
    <p *ngIf="searchError" style="color: red;">{{ searchError }}</p>
  </div>
  <div class="content">
    <button class="agregar-btn" (click)="agregarPaciente()">Agregar paciente nuevo</button>
  </div>
</div>