.container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 15px;
  
    .user-info {
      display: flex;
      align-items: center;
  
      .user-photo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }
  
      .user-name {
        font-size: 1.2em;
      }
    }
  }
  
  .main-content {
    margin-top: 20px;
  
    .patient-info {
      background-color: #f8d7da;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      h2 {
        margin: 0;
      }
  
      .patient-actions {
        button {
          margin-left: 10px;
          cursor: pointer;
        }
  
        .btn-edit {
          background-color: #ffc107;
        }
  
        .btn-delete {
          background-color: #dc3545;
          color: #fff;
        }

        .btn-clone {
            color: #2ecc71; /* Verde */
          }
          
          .btn-view-details {
            color: #f39c12; /* Amarillo */
          }
      }
    }
  
    .prescription-history {
      h2 {
        margin-bottom: 10px;
      }
  
      .search-bar {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
  
        input {
          padding: 5px;
          font-size: 1em;
          flex: 1;
          margin-right: 10px;
        }
  
        button {
          padding: 5px 10px;
          cursor: pointer;
          background-color: #007bff;
          color: #fff;
          border: none;
          border-radius: 5px;
        }
      }
  
      table {
        width: 100%;
        border-collapse: collapse;
  
        th, td {
          padding: 10px;
          border: 1px solid #ccc;
        }
  
        th {
          background-color: #f1f1f1;
        }
  
        td {
          text-align: center;
        }
  
        .btn-edit, .btn-delete {
          cursor: pointer;
          padding: 5px;
          border: none;
          border-radius: 3px;
        }
  
        .btn-edit {
          background-color: #ffc107;
        }
  
        .btn-delete {
          background-color: #dc3545;
          color: #fff;
        }
      }
  
      .generate-recipe {
        display: block;
        margin: 20px auto;
        padding: 10px 20px;
        background-color: #28a745;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
  
  .datos-paciente {
    background-color: #f2dede;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }
    .campo {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      label {
        font-weight: bold;
        margin-right: 10px;
      }
      span {
        font-size: 16px;
      }
    }
  }
  