<div class="container">
  <header class="header">
    <img src="assets/icons/rxDigital.png" class="rxDigital">
    <div class="user-info">
      <img src="assets/icons/foto1.png" class="user-photo">
      <span class="user-name">Nombre usuario</span>
    </div>
  </header>

  <main class="main-content">
    <section class="patient-info">
      <div class="datos-paciente">
        <h3>Datos del Paciente</h3>
        <div class="campo">
          <label for="dni">DNI:</label>
          <span>{{ paciente.dni }}</span>
        </div>
        <div class="campo">
          <label for="nombre">Nombre y Apellido:</label>
          <span>{{ paciente.nombreApellido }}</span>
        </div>
      </div>

      <div class="patient-actions">
        <button class="btn-view-details">📄</button>
        <button class="btn-edit">✏️</button>
        <button class="btn-delete">🗑️</button>
      </div>
    </section>

    <section class="prescription-history">
      <h2>Historial de recetas</h2>
      <div class="search-bar">
        <input type="text" placeholder="Ingrese código de receta" ngModel>
        <button (click)="searchRecipe()">🔍</button>
      </div>

      <table>
        <thead>
          <tr>
            <th>Código receta</th>
            <th>Fecha emisión</th>
            <th>Fecha de vencimiento</th>
            <th>Diagnóstico</th>
            <th>Medicamento</th>
            <th>Concentración</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let receta of recetas">
            <td>{{ receta.codigo }}</td>
            <td>{{ receta.fechaEmision | date }}</td>
            <td>{{ receta.fechaVencimiento | date }}</td>
            <td>{{ receta.diagnostico }}</td>
            <td>{{ receta.medicamento }}</td>
            <td>{{ receta.concentracion }}</td>
            <td>
              <div class = 'receta-actions'>
                <button class="btn-edit">✏️</button>
                <button class="btn-delete">🗑️</button>
                <button class="btn-clone">📑</button> <!-- Botón para clonar -->
                <button class="btn-view-details">📄</button> <!-- Botón para ver detalle -->
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <button class="generate-recipe" (click)="generarReceta()">Generar receta</button>
    </section>
  </main>
</div>