<div class="emitir-receta-container">
    <div class="header">
      <h1>Datos de la nueva receta</h1>
    </div>
  
    <div class="section">
      <div class="datos-medico">
        <h2>DATOS DEL MÉDICO</h2>
        <label>Nombre Completo</label>
        <input type="text" [(ngModel)]="medico.nombre" />
        <label>Especialidad</label>
        <input type="text" [(ngModel)]="medico.especialidad" />
        <label>Matrícula</label>
        <input type="text" [(ngModel)]="medico.matricula" />
      </div>
  
      <div class="datos-paciente">
        <h2>DATOS DEL PACIENTE</h2>
        <label>Nombre Completo</label>
        <input type="text" [(ngModel)]="paciente.nombre" />
        <label>DNI</label>
        <input type="text" [(ngModel)]="paciente.dni" />
        
      </div>
    </div>
  
    <div class="section">
      <div class="datos-medicamento">
        <h2>DATOS DEL MEDICAMENTO</h2>
        <label>Nombre comercial</label>
        <input type="text" [(ngModel)]="medicamento.nombreComercial" />
        <label>Presentación</label>
        <input type="text" [(ngModel)]="medicamento.presentacion" />
        <label>Concentración</label>
        <input type="text" [(ngModel)]="medicamento.concentracion" />
      </div>
  
      <div class="informacion">
        <h2>INFORMACIÓN</h2>
        <label>Diagnóstico</label>
        <input type="text" [(ngModel)]="informacion.diagnostico" />
        <label>Indicaciones</label>
        <input type="text" [(ngModel)]="informacion.indicaciones" />
      </div>
    </div>
  
    <div class="envio-receta">
      <label>Enviar receta por:</label>
      <div>
        <input type="radio" id="whatsapp" name="envioReceta" [(ngModel)]="formaEnvio" value="whatsapp">
        <label for="whatsapp">Whatsapp</label>
      </div>
      <div>
        <input type="radio" id="email" name="envioReceta" [(ngModel)]="formaEnvio" value="email">
        <label for="email">E-Mail</label>
      </div>
    </div>
    
  
    <div class="buttons">
      <button (click)="emitirReceta()">Emitir</button>
      <button (click)="cancelar()">Cancelar</button>
    </div>
  </div>
  
