<app-encabezado></app-encabezado>
<app-detalle-receta></app-detalle-receta>

  <!-- Caja de texto para motivo de rechazo -->
<div class="contenerdor-motivo-rechazo">
  <div *ngIf="mostrarMotivoRechazo" class="motivo-rechazo">
    <h2>Motivo del Rechazo:</h2>
    <textarea rows="5" maxlength="300" [(ngModel)]="motivoRechazo" placeholder="Escriba el motivo del rechazo"></textarea>
    <button (click)="confirmarRechazo()">Confirmar Rechazo</button>
  </div>
</div>

<div class="botones">
    <button style="background-color: #45a049;" (click)="aceptarReceta()">Aceptar receta</button>
    <button style="background-color: #f44336;" (click)="rechazarReceta()">Rechazar receta</button>
    <button style="background-color: #008cba;" (click)="buscarOtraReceta()">Buscar otra receta</button>
</div>