.buscar-paciente-container {
  padding: 20px;
  text-align: center;   

}


.header {
  
  justify-content: space-between;
  
  
}

.search-container {
  
  align-items: center;
  margin: 20px 0;
  


}


input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 250px;
}

button {
  padding: 10px;
  cursor: pointer;
  background-color: #ccc;
  border: 5x;
  border-radius: 5px;
}

.agregar-btn {
  background-color: #4CAF50;
  color: rgb(238, 238, 238);
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  
}

.bienvenida {
  font-family: Kameron;
    font-size: 100px;
    font-weight: 400;
    line-height: 118.7px;
    text-align: left;
    width: 50%;
    margin: auto;
    
    text-align: center;  


}
.rxDigital {
display:flex;
   
}