<div class="buscar-paciente-container">
    <div class="header">
      <img src="assets/icons/rxDigital.png" alt="Icono" class="rxDigital">
    </div>
    <div class="Bienvenida">
      <h1>Bienvenido/a</h1></div>
    <div class="search-container">
      <input type="text" placeholder="Ingrese DNI del paciente" [(ngModel)]="dniPaciente">
      <button (click)="buscarPaciente()">🔍</button>
    </div>
    <button class="agregar-btn" (click)="agregarPaciente()">Agregar paciente nuevo</button>
</div>
  
