.detalle-receta {
  font-family: Arial, sans-serif;
  width: 90%;
  margin: 50px;
  margin-bottom: 0px;


  align-items: center;

  padding: 20px;
  background-color: #99e0cf;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 50px;

  h2 {
    color: black;
    margin-top: 20px;
    border-bottom: 2px solid #616161;
    padding-bottom: 5px;
    font-size: 30px;
  }

  .section {
    margin-top: 10px;

    p {
      margin: 4px 0;
      font-size: 25px;
    }
    
    textarea{
      font-size: 20px;
      width: 600px; // Ajusta el ancho deseado
      height: auto;
      resize: none; // Evita que el usuario cambie el tamaño si no quieres que lo haga
      line-height: 1.5; // Opcional, ajusta el espacio entre líneas
      overflow: auto; // Muestra la barra de desplazamiento si se excede el texto
    }
  }

  .forma-envio {
    width: 300px;

    p {
      margin: 4px 0;
      font-size: 25px;
    }

    label {
      display: block;
      margin: 10px 0;
      font-size: 25px;
    }

    input[type="radio"] {
      transform: scale(2); // Cambia 1.5 al valor que prefieras
      margin-right: 10px; // Para separar el texto si es necesario
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 10px;

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    margin-top: 50px;
  }

  button:first-of-type {
    background-color: #04d635;
    color: white;
    margin-right: 30px;
  }

  button:last-of-type {
    background-color: #d40808;
    color: white;
  }
}