<div class="emitir-receta-container">
    <app-encabezado></app-encabezado>
    <div class="header">
      <h1 style="margin-top: 10px; margin-bottom: 10px;">DATOS DE LA NUEVA RECETA</h1>
    </div>

  
    <div class="section">
      <div class="datos-medico">
        <h2>DATOS DEL MÉDICO</h2>
        <label>Nombre Completo</label>
        <span type="text">
          {{ medico.lastName }}, {{ medico.firstName }}
        </span>
        <label>Especialidad</label>
        <span type="text">
          {{ medico.speciality }}
        </span>
        <label>Matrícula</label>
        <span type="text">
          {{ medico.registrationId }}
        </span>
      </div>
  
      <div class="datos-paciente">
        <h2>DATOS DEL PACIENTE</h2>
        <label>Nombre Completo</label>
        <span type="text">
          {{ paciente.lastName }}, {{ paciente.firstName }} 
        </span>
        <label>DNI</label>
        <span type="text">
          {{ paciente.patientId }}
        </span>  
      </div>
    </div>
  
    <div class="section">
      <div class="datos-medicamento">
        <h2>DATOS DEL MEDICAMENTO</h2>

        <div *ngIf="!medicamento">
          <button (click)="openModal()">Elegir Medicamento</button>
        </div>

        <div *ngIf="medicamento">
          <label>Nombre comercial</label>
          <span type="text">
            {{ medicamento.commercialName }}
          </span> 
          <label>Presentación</label>
          <span type="text">
            {{ medicamento.presentation }}
          </span>  
          <label>Concentración</label>
          <span type="text">
            {{ medicamento.concentration }} mg
          </span>  
        </div>
        <button (click)="clearSelection()">✖</button>
      </div>
  
      <div class="informacion">
        <h2>INFORMACIÓN</h2>
        <label>Diagnóstico</label>
        <input type="text" [(ngModel)]="diagnostic" />
        <label>Indicaciones</label>
        <input type="text" [(ngModel)]="indications" />
      </div>
    </div>
  
    <div class="envio-receta">
      <label>Enviar receta por:</label>
      <div>
        <input type="radio" id="whatsapp" name="envioReceta" [(ngModel)]="formaEnvio" value="whatsapp">
        <label for="whatsapp">Whatsapp</label>
      </div>
      <div>
        <input type="radio" id="email" name="envioReceta" [(ngModel)]="formaEnvio" value="email">
        <label for="email">E-Mail</label>
      </div>
    </div>
    
  
    <div class="buttons">
      <button (click)="emitirReceta()">Emitir</button>
      <button (click)="cancelar()">Cancelar</button>
    </div>
  </div>
  
