h2 {
    color: black;
    margin-top: 20px;
    border-bottom: 2px solid #616161;
    padding-bottom: 5px;
    font-size: 30px;
}

textarea {
    width: 800px;
    height: 200px;
    margin: 10px 0;
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
    resize: none;
}

.botones {
    display: flex;
    justify-content:space-between;
    width: 400px;

    button {
        border: none;
        color: #fff;
        transition: background-color 0.3s;
        padding: 10px 20px;
        margin-top: 20px;
        font-size: 25px;
        cursor: pointer;
    }
}