<app-msj-emergente>
    <h2>Motivo del Rechazo:</h2>
    <textarea rows="5" maxlength="300" [(ngModel)]="motivoRechazo" placeholder="Escriba el motivo del rechazo"></textarea>
    <div class="botones">
        <button style="background-color: #4caf50;" (click)="confirmarRechazo()">Confirmar Rechazo</button>
        <button style="background-color: red;" (click)="cancelarRechazo()">Cancelar</button>
    </div>
    <div fondo-difuminado>
        <app-revisar-receta></app-revisar-receta>
    </div>
</app-msj-emergente>