<app-encabezado></app-encabezado>

<div class="container">
    <header class="header">
      <h1>PANEL DE CONSULTA</h1>
      <!-- <h2>Las siguientes consultas que puede realizar son:</h2> -->
    </header>
  
    <div class="content">
      <button class="consult-button" (click)="listarRecetasPorFecha()">Listar recetas por fecha</button>
      <button class="consult-button" (click)="medicamentosMasRecetados()">Medicamentos más recetados</button>
      <button class="consult-button" (click)="medicosConMasRecetas()">Médicos con más recetas</button>
    </div>
  
    <footer class="footer">
      <button class="back-button" (click)="volver()">Volver al inicio</button>
    </footer>
  </div>
  